html {
    height: 100%;
}

body {
    height: 100%;
    color: dimgrey;
    background: #f8f9f9;
    margin: 0;
}

#wrap {
    min-height: 100%;
}

@font-face {

    font-family: "Arial MT";

    src: url("../fonts/Arial MT.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {

    font-family: "Arial MT Italic";

    src: url("../fonts/Arial MT Italic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {

    font-family: "Arial MT Bold";

    src: url("../fonts/Arial MT Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {

    font-family: "Socialico";

    src: url("../fonts/Socialico.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}




.container {
    width: 1280px;
    /*    height: 3186px;*/
    margin: 0 auto;
}

.header {
    background-color: #445162;
    display: block;
    padding: 50px;
}

.disp_inline {
    display: inline-block;
}

.header img {
    margin-right: 10px;
}

.header h1 {
    display: inline-block;
    margin: 0px;
    width: 375px;
    line-height: 45px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-family: "ArialMT";
    font-size: 60px;
    font-weight: 400;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.head_rec {
    display: inline-block;
    width: 469px;
    height: 214px;
    background-color: #ffffff;
    float: right;
}

.head_list {
    width: 458px;
    margin: 0;
    padding: 0;
}

.head_list p {
    margin: 0;
    padding: 0;
    display: inline-block;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-family: "ArialMT";
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
}

.content {
    width: 100%;
    /*    padding-bottom: 28px;*/
    background-color: #ffffff;
}

.ab_y_pr {
/*    height: 245px;*/
    padding: 50px;
}

.ab_y_pr_rec {
    display: inline-block;
    vertical-align: top;
    width: 430px;
    height: 245px;
    background-color: #445161;
}

.ab_y_pr_text {
    display: inline-block;
    width: 650px;
    padding-right: 100px;
}

.ab_y_pr_text p {
    display: inline-block;
    height: 63px;
    color: #333333;
    font-family: "ArialMT";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.ab_y_pr_text h2 {
    margin: 0;
    line-height: 28px;
    color: #445161;
    font-family: "ArialMT";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.d_a_p_p h2,
.scrinshots h2 {
    margin: 0;
    text-align: center;
    color: #445161;
    font-family: "ArialMT";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.d_a_p_p {
    padding: 50px;
    padding-bottom: 15px;
    background-color: #f5f5f5;
}

.d_a_p_p h2 {
    margin-bottom: 30px;
    line-height: 28px;
}

.d_a_div {
/*    box-sizing: content-box;*/
    width: 567px;
    display: inline-block;
    margin-bottom: 35px;
    margin-right: 23px;
}
/*
.d_a_div img {
    float:left;
}
*/
.d_a_div p::first-line {
/*    line-height: 12px;*/
}
.d_a_div p {
    
    vertical-align: top;
    display: inline-block;
    margin: 0;
    margin-top: -4px;
    overflow: hidden;
    box-sizing: padding-box;
    width: 525px;
    display: inline-block;
    color: #333333;
    font-family: "ArialMT";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.d_a_div img {
    vertical-align: top;
    display: inline-block;
    margin-right: 9px;
}

.scrinshots {
    padding: 50px;
    padding-bottom: 20px;
}

.scrinshots h2 {
    line-height: 22px;
    margin-bottom: 35px;
}

.scr_desc {
    width: 574px;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 30px;
}

.scr_desc div {
    float:left;
    display: inline-block;
    width: 200px;
    height: 150px;
    background-color: #445161;
    margin-right: 15px;
    vertical-align: top;
}

.scr_desc h3 {
    vertical-align: top;
    display: inline-block;
    margin: 0;
    margin-bottom: 15px;
    color: #445161;
    font-family: "ArialMT";
    font-size: 24px;
    font-weight: 400;
    line-height: 23px;
}

.scr_desc p {
    overflow: hidden;
    margin: 0;
/*    display: inline-block;*/
/*    width: 219px;*/
    color: #333333;
    font-family: "ArialMT";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.review {
/*    height: 324px;*/
    padding: 50px;
    padding-bottom: 26px;
    padding-right: 0px;
    background-color: #f5f5f5;
}

.review h2 {
    margin: 0;
    padding-right: 50px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 35px;
    color: #445161;
    font-family: "ArialMT";
    font-size: 30px;
    font-weight: 400;
}

.review_div {
    display: inline-block;
    width: 574px;
    padding-bottom: 24px;
    padding-right: 32px;

}

.rev_desc {
/*    position: absolute;*/
    display: inline-block;
    width: 483px;
/*    height: 121px;*/
    background-image: url("/img/bg_review.png");
}

.rev_desc p {}

.up_wr {
    display: inline-block;
    position: absolute;
    width: 436px;
    margin: 0;
    margin-left: 11px;
    padding: 16px;
    color: #333333;
    font-family: "Arial MT Italic";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.down_wr {
    color: #989898;
    font-family: "ArialMT";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 95px;
    margin-left: 27px;
}

.round {
    display: inline-block;
    vertical-align: top;
    width: 75px;
    height: 75px;
    background-color: #445161;
    border-radius: 38px;

}

.buy_now {
    padding: 50px;
}

.buy_now h2 {
    margin: 0;
    line-height: 28px;
    text-align: center;
    margin-bottom: 35px;
    color: #445161;
    font-family: "ArialMT";
    font-size: 30px;
    font-weight: 400;
}

.buy_columns {
    text-align: center;
}

.buy_col {
    display: inline-block;
    vertical-align: bottom;
    border: 2px solid #445162;
    width: 300px;
    background: #445162;
    border-radius: 5px;
    margin-right: 45px;
}

.buy_col:last-child {
    margin-right: 0px;
}

.buy_col h3 {
    margin: 10px;
    color: #ffffff;
    text-align: center;
    font-family: "ArialMT";
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}

.buy_col ol {
    text-align: left;
    padding-left: 34px;
    margin-top: 15px;
    margin-bottom: 15px;
    /*    padding:10;*/
}

.buy_col li {
    color: #ffffff;
    font-family: "ArialMT";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.buy_col button {
    background-color: #ffffff;
    display: block;
    margin: 0 auto;
    color: #445161;
    font-family: "Arial MT Bold";
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    width: 260px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 0;
}

.price {
    background-color: #ffffff;
    margin: 0;
    color: #445162;
    font-family: "ArialMT";
    font-size: 40px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    padding: 19px;
}

.contacts {
    padding: 50px;
    background-color: #445162;
    text-align: center;
}

.contacts h2 {
    margin: 0;
    line-height: 28px;
    color: #ffffff;
    font-family: "ArialMT";
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 31px;
}

.general_cont {
    display: inline-block;
}

.our_contacts {
    margin-left: 45px;
    vertical-align: top;
    display: inline-block;
    text-align: left;
}

.our_contacts p {
    display: inline-block;
    vertical-align: top;
    margin-top: 0px;
    margin-left: 3px;
    margin-bottom: 29px;
    height: 15px;
    color: #ffffff;
    font-family: "ArialMT";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
fieldset {
    margin-left: 0px;
}
.form_ {
    display: inline-block;
    vertical-align: top;
    width: 500px;
}

.form_ input[type="text"],
.form_ input[type="email"] {
    width: 476px;
    height: 12px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 21px;
    padding: 14px;
    padding-left: 10px;
    border: 0px;
}
.form_ input[type="text"] {
    text-transform: capitalize;    
}

.form_ input,
.form_ textarea {
    font-family: "ArialMT";
    font-size: 20px;
    color: darkslateblue;
}

.form_ textarea {
    width: 480px;
    height: 152px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 21px;
    padding: 10px;
    border: 0px;
    resize: none;
}

.form_ input::placeholder,
.form_ textarea::placeholder {
    color: #445162;
    font-family: "ArialMT" !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 24px !important;
    text-transform: none;
    resize: none;
}

.form_ fieldset {
    border: none;
    padding: 0;
}

.form_ button {
    display: block;
    color: #445161;
    font-family: "Arial MT Bold";
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    width: 140px;
    height: 40px;
    border-radius: 5px;
    margin: 0 auto;

    border: 0;
}
button:hover {
    background-color: cornsilk;
}
.sosa:hover {
    color: cornsilk !important;
}
.sosa {
    margin: 0 !important;
/*    position: relative !important;*/
    display: inline-blockin;
/*    border-radius: 30px;*/
/*    width: 42px;*/
    height: 42px !important;
    color: #ffffff !important;
    font-family: "Socialico" !important;
    font-size: 60px !important;
    font-weight: 400 !important;
    line-height: 24px !important;
    letter-spacing: 1.5px !important;
    margin-top: 20px !important;
}
.triangle {
/*  margin: 15px;*/
    background-color: #ebebeb;
    position: relative;
    width: 470px; height: 120px;
    border-radius: 5px;
   }
.triangle::before, 
.triangle::after {
    content: ''; 
    position: absolute;
    left: -26px; top: 26px;
    border: 13px solid transparent;
    border-right: 13px solid #ebebeb;
   }

.footer {
    /*    height: 28px;*/
}

.footer p {
    text-align: center;
    height: 9px;
    font-size: 9px;
    color: #445161;
    margin-top: 10px;
    margin-bottom: 7px;
    font-family: "ArialMT";
}
