/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-s-Layer211X {
  background-image: url(sprite.png);
  background-position: 0px -84px;
  width: 83px;
  height: 31px;
}
.icon-s-Layer221X {
  background-image: url(sprite.png);
  background-position: 0px -27px;
  width: 51px;
  height: 57px;
}
.icon-s-Layer231X {
  background-image: url(sprite.png);
  background-position: -51px -27px;
  width: 57px;
  height: 47px;
}
.icon-s-Layer241X {
  background-image: url(sprite.png);
  background-position: -137px 0px;
  width: 56px;
  height: 38px;
}
.icon-s-Layer251X {
  background-image: url(sprite.png);
  background-position: -98px -115px;
  width: 84px;
  height: 16px;
}
.icon-s-Layer261X {
  background-image: url(sprite.png);
  background-position: 0px -115px;
  width: 98px;
  height: 19px;
}
.icon-s-Layer271X {
  background-image: url(sprite.png);
  background-position: 0px -134px;
  width: 69px;
  height: 22px;
}
.icon-s-Layer281X {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 137px;
  height: 27px;
}
