/* * {
    transition: all 0.2s ease;
} */

.selector_menu * {
    outline: none;
}
.selector_menu div,
.selector_menu input {
    border-radius: 5px;
}
.selector_menu {
    margin: 0 auto;
    font-family: "ArialMT";
    border-radius: 5px;
}

.selector_menu button {
    border-radius: 10px;
    background-color: #542929;
    color: cornsilk;
}
.selector_menu button:hover {
    transition: linear 0.2s;
    background-color: darkslategrey;
    color: white;
}
.selector_menu {
    background-color: dimgray;
    width: 300px;
    padding: 10px;
    position: relative;
}

.selector_root {
    display: flex;
    background-color: white;
    margin-bottom: 5px;
}

.selector_input {
    flex-grow: 1;
    box-sizing: border-box;
    padding: 10px;

    border: none;
}

.selector_filter {
    flex-grow: 1;
    box-sizing: border-box;
    background-color: whitesmoke;
    padding: 10px;
    margin: 5px 10px 5px 10px;
    border: none;
}

.selector_list {
    position: absolute;
    z-index: 5;
    flex-direction: column;
    display: flex;
    background-color: #3c3b3b;
    border-radius: 5px;
    margin: 5px 0 0 0;
    padding: 10px 0 5px 0;
    width: 100%;
    left: 0;
    /* margin: 0 50px 0 50px; */
}

.visibility_hidden {
    display: none;
}

.selector_list_item {
    margin: 0 10px 5px 10px;
    padding: 10px;
    border: 1px solid white;
    /* background-color: gainsboro; */
    background-color: #dcdcdc;
    /* color: black; */
}

.selector_list_item:hover {
    color: white;
    background-color: #3c3b3b;
    transition: linear 0.2s;
}

.selector_buttons {
    margin: 0 10px 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.selector_buttons button {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid white;
}
.selector_buttons button:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.selector_buttons button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.check {
    background-color: #00364e;
    color: white;
}
.check:hover {
    background-color: #84bed8;
    color: white;
    transition: linear 0.2s;
}
/* .no_check {
    background-color: #dcdcdc;
    color: black;
} */
.div_arrow {
    display: inline-block;
    text-align: right;
    width: 0;
    height: 0;
    margin: 12px 10px 0px 10px;
    border: 10px solid transparent;
    border-top-color: dimgray;
    border-bottom: 0;
  }

  