html, body {
    height: 100%;
}

body {
    margin: 0;
}


#wrap {
    min-height: 100%;
}

/* @font-face {

/*    font-family: "Arial MT";*/

/*    src: url("../fonts/Arial MT.ttf") format("truetype");*
    font-style: normal;
    font-weight: normal;
} */

.container {
    height: 100%;
    width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
/*    border: 1px solid black;*/
}
.header {
    width: 1200px;
    box-sizing: border-box;
/*    border: 1px solid black;*/
    height:  100px;
}
.custom_care {
    background-color: black;
    padding-left: 115px;
    padding-right: 115px;
    vertical-align: middle;
}
.custom_care p {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    color: #ffffff;
    font-family: "ArialMT";
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
/* Text style for "custom car" */
    letter-spacing: -0.06px;
}

.cust_tel {
    display: inline-block;
    width: 50%;
}

.cust_account {
    width: 50%;
    display: inline-block;
    text-align: right;
    vertical-align: middle;
}
.cust_account img {
    vertical-align: middle;
}

.currency_list {
    display: inline-block;
}
.user {
    display: inline-block;
/*    padding: 6px;*/
    padding-left: 15px;
    padding-right: 15px;
}

.cust_box {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
/*    height: 100%;*/
    border-left: 1px solid grey;
/*    border-bottom: none;*/
/*    border-top: none;*/
}

.cust_box:last-child {
    border-right: 1px solid grey;
}

.user p, 
.user img {
    vertical-align: middle;
}

.user p {
    margin-left: 10px;
}

.cust_search {
    display: inline-block;
}

.menu {
    padding: 20px;
    padding-left: 115px;
    padding-right: 115px;
}
.logo {
    display: inline-block;
    vertical-align: middle;
}

.menu_list {
    display: inline-block;
    vertical-align: middle;
}
.menu_list li {
    display: inline-block;
}

.menu a {
    height: 3px;
}

